[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://gitee.com/embeddedboys/FreeRTOS-Kernel
[submodule "lib/Pico-PIO-USB"]
	path = lib/Pico-PIO-USB
	url = https://gitee.com/embeddedboys/Pico-PIO-USB
